<div class="container-fluid h100">
  <div class="row loginWrap h100">

    <div class="centered">
      <div class="row h100">
      <div class="col login-left h100">

      </div>
      <div class="col login-right h100">
        <div class="login-form-wrap">
          <br>
          <br><br><br><br>
          <p class="login-text upper white bold">Login to continue  </p>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text lgicon" id="basic-addon1">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control lginput" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text lgicon" id="basic-addon1">
                <i class="fas fa-unlock-alt"></i>
              </span>
            </div>
            <input type="password" class="form-control lginput" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>

          <div class="form-group grey">
            <mat-checkbox>Remember me</mat-checkbox>

            <label class="pull-right grey">Forgot password ? Reset</label>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-custom btn-block bold">LOGIN</button>

          </div>
          <br><br><br><br>
          <div class="form-group">
              <button type="button" class="btn btn-contact btn-block bold">CONTACT US NOW</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
